<head>
   <link rel="stylesheet" href="styles.css">

</head>


<body>

    <div>
        <a href="/">
            Main
        </a>
        <a href="/Help">
            Help
        </a>
    </div>
</body>